package components

templ TodosList() {
    <div>
        <h1>Todos</h1>
        <ul>
            <li>Learn Go</li>
            <li>Learn React</li>
            <li>...</li>
        </ul>
    </div>
}